.card-body {
  height: 240px;
  overflow: auto;
}

.link {
  cursor:pointer;
  color: #7b9d6f;
}

.link:hover {
  text-decoration:underline;
}

#searchButton {
  margin-right: 10px;
  margin-left: 10px;
}

.entry_container {
  overflow: auto;
}

.entry-page-table {
  table-layout: fixed;
}

.main-page-table {
  table-layout: fixed;
}

.expandLogo {
  max-width: 3%;
  cursor: pointer;
}

@media screen and (max-width: 900px) {
  .main-page-table {
    table-layout: auto;
  }

  .diary-description-header {
    display:none;
    width:0;
    height:0;
    opacity:0;
    visibility: collapse;
  }

  .diary-description {
    display:none;
    width:0;
    height:0;
    opacity:0;
    visibility: collapse;
  }

  #searchButton {
    margin: 10px;
  }
}
