.card-body {
  height: 240px;
  overflow: auto;
}

.entry_container {
  overflow: auto;
}

table {
  table-layout: fixed;
}

.expandLogo {
  max-width: 3%;
  cursor: pointer;
}

@media screen and (max-width: 900px) {
  table {
    table-layout: auto;
  }

  .diary-description-header {
    display:none;
    width:0;
    height:0;
    opacity:0;
    visibility: collapse;
  }

  .diary-description {
    display:none;
    width:0;
    height:0;
    opacity:0;
    visibility: collapse;
  }
}
